@use "bootstrap-utils" as utils;

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	background: url("~@/assets/background/mountains-background.png");
	font-family: var(--next-font-reddit-mono), monospace;
}

.mascot {
	height: 150px;
	width: auto;

	@include utils.media-breakpoint-up(md) {
		height: auto;
	}
}

.messageBox {
	position: relative;
	background: #0f152bb0;
	padding: 1.75rem;
	margin: 0 1rem;
	border-radius: 1.25rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.title {
	color: #cacaca;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;

	@include utils.media-breakpoint-up(md) {
		font-size: 2.5rem;
	}
}

.button {
	background-color: #2a504bb0;
	font-size: 1rem;
	padding: 0.625rem 1.875rem;
	border: 0.313rem solid #2a504b;
	border-radius: 1.25rem;
	color: #dddddd;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.button:hover {
	background-color: #61876db0;
}
