.mapContainer {
	width: 100vw;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	height: 1300px;
}

.map3 {
	position: absolute;
	width: 80%;
	min-width: 1000px;
}

.title {
	position: absolute;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
}

.mapPath {
	position: absolute;
}

.pathImage {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 1751px) {
	.mapPath {
		width: 1168px;
		height: 598px;
	}
}

@media screen and (min-width: 1450px) and (max-width: 1750px) {
	.mapPath {
		width: 934px;
		height: 478px;
	}
}

@media screen and (max-width: 1451px) {
	.mapPath {
		width: 747px;
		height: 382px;
	}
}
