@use "bootstrap-utils" as bootstrap;

$container-padding: 6rem;

.home {
	h2 {
		text-align: center;
	}

	:global {
		section.container {
			// responsive padding
			@include bootstrap.padding-top($container-padding);
			@include bootstrap.padding-bottom($container-padding);
		}
	}

	background-image: url("~@/assets/background/ocean-sand-background.svg");
	background-size: cover;
	background-position-x: center;
	background-repeat: no-repeat;
	min-height: 300vh;
}

.beachBall {
	top: 105vh;
	left: 85vw;
}

.coastAnteater {
	top: 95vh;
	left: 18vw;
}

@media (max-width: 1200px) {
	.beachBall {
		visibility: hidden;
	}
	.coastAnteater {
		visibility: hidden;
	}
}

// .wAnteater {
// 	top: 72vh;
// 	left: 75vw;
// }

// .wAnteaterShadow {
// 	top: 72vh;
// 	left: 75vw;
// }