@use "bootstrap-utils" as bootstrap;

$container-padding: 6rem;

.home {
	min-height: 100vh;
	background-image: url("~@/assets/background/aldrich-park-background.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;

	h2 {
		text-align: center;
	}

	:global {
		section.container {
			// responsive padding
			@include bootstrap.padding-top($container-padding);
			@include bootstrap.padding-bottom($container-padding);
		}
	}
}
