@use "bootstrap-utils" as utils;

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.25rem;
	padding: 1.25rem 0.75rem;
	@include utils.media-breakpoint-down(sm) {
		gap: 0.5rem;
	}
}
