@use "bootstrap-utils" as utils;

.page {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--blue-gradient);
	padding: 4rem 1.5rem;
}

.windowWrapper {
	width: 700px;
	height: 300px;
	max-width: 100%;

	@include utils.media-breakpoint-down(md) {
		height: auto;
	}
}

.content {
	padding: 0.5rem 0.25rem;
}
