@use "bootstrap-utils" as bootstrap;

.landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	margin: 0;
}
.header {
	color: rgba(202, 202, 202, 1);
	font-size: clamp(2.5rem, 5vw, 4rem);
}

.title {
	width: 60%;
}

@include bootstrap.media-breakpoint-up(lg) {
	.landing {
		min-height: 90vh;
		margin-bottom: 300px;
	}
}
