@use "bootstrap-utils" as bootstrap;

.landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 15vh;
	margin-bottom: 5vh;
	text-align: left;
}
.header {
	color: rgba(202, 202, 202, 1);
}

.title {
	width: 60%;
}

@include bootstrap.media-breakpoint-up(lg) {
	.landing {
		padding-top: 200px;
		margin-bottom: 300px;
	}
}
