@use "bootstrap-utils" as utils;

.container {
	font-family: var(--font-pixel);
	display: flex;
	flex-direction: column;

	.tab:not(:first-child) {
		border-top: none;
	}
}

.tab,
.activeTab {
	display: flex;
	width: 125px;
	height: 125px;
	padding: 10px;
	margin-right: -3px;
	border-radius: 8px 0 0 8px;
	justify-content: center;
	align-items: center;
}

.tab {
	border: 3px solid #000;
	background: white;
}

.activeTab {
	z-index: 500;
	border-left: 3px solid #000;
	border-right: none;
	background: var(--schedule-gray);
	text-decoration: underline;
	box-shadow:
		-3px 3px 0px 0px white,
		-4px 4px 3px 0 #00000040;
}

/* Smaller screens */
@media (max-width: 768px) {
	.container {
		flex-direction: row;
		gap: 7px;
		margin-bottom: 0;
	}
	.tab,
	.activeTab {
		height: 54px;
		width: 86px;
		padding: 13px 20px;
		flex-shrink: 0;
		border-radius: 6px;
		border: none;
		margin-right: 0;
	}
	.activeTab {
		background-color: var(--schedule-gray);
		box-shadow: none;
		text-decoration: none;
	}
}
