@use "zothacks-theme" as theme;

.coreButton {
	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--cobalt-green);
	box-shadow: 3px 2px 4px rgba(255, 255, 255, 0.25) inset;
	font-family: var(--font-pixel);
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;

	&:hover {
		background: #49a844;
	}
	&:active {
		background: #3b7a38;
		box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.25) inset;
	}
}

.small {
	@extend .coreButton;
	padding: 8px 20px;
	height: 40px;
	align-self: center;
}

.large {
	@extend .coreButton;
	padding: 0.8rem 1.5rem;
}
