@use "zothacks-theme" as theme;

.coreButton {
	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--xp-blue-text);
	border: none;
	color: #fff;
	font-family: var(--font-pixel);
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	box-shadow:
		inset 1.5px 1.5px 0 0 #dfdfdf,
		inset 0.75px 0.75px 0 0 #ffffff,
		inset -2.14px -2.14px 0 0 #808080,
		inset -1.07px -1.07px 0 0 #252525;

	&:hover {
		filter: brightness(1.1);
	}
}

.small {
	@extend .coreButton;
	padding: 8px 20px;
	align-self: center;
}

.large {
	@extend .coreButton;
	padding: 0.8rem 1.5rem;
}
