@use "zothacks-theme" as theme;
@use "bootstrap-utils" as utils;

.title {
	text-align: center;
	color: theme.$white;
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 48px;
	font-weight: 800;
	color: #cacaca;

	@include utils.media-breakpoint-up(md) {
		font-size: 3rem;
	}
}

.sponsorsLogos {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	max-width: 1200px;
	margin: 0 auto;

	@include utils.media-breakpoint-up(md) {
		flex-direction: row;
		justify-content: center;
	}
}

.logo {
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease;
	aspect-ratio: 1 / 1;
	width: 100%;
	height: 310px;

	&:hover {
		transform: scale(1.05);
	}

	max-width: 250px;

	&.gold {
		max-width: 450px;
	}

	@include utils.media-breakpoint-up(md) {
		max-width: 350px;

		&.gold {
			max-width: 550px;
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		padding: 0rem;

		@include utils.media-breakpoint-up(md) {
			padding: 2rem;
		}
	}
}

.placeholderLogo {
	font-weight: bold;
	width: 90%;
	height: 10rem;
	background-color: #ababab;
	padding: 0.5rem;
	font-size: 0.8rem;
	margin-bottom: 1rem;

	@include utils.media-breakpoint-up(md) {
		width: 50%;
		height: 19rem;
		font-size: 1rem;
		padding: 1rem;
	}
}
