@use "zothacks-theme" as theme;
@use "bootstrap-utils" as bootstrap;

$text-font-weight: 600;
$text-font-size: 1.5rem;
$border-radius: 14px;
$speech-padding: 20px;
$speech-shadow: 0 10px 0 rgba(1, 57, 70, 0.2);

@mixin speechBubble($bg-color, $border-color) {
	background-color: $bg-color;
	border: 6px solid $border-color;
	border-radius: $border-radius;
	padding: $speech-padding;
	font-weight: $text-font-weight;
	font-size: $text-font-size;
	text-align: center;

	@include bootstrap.media-breakpoint-up(md) {
		padding: 32px 48px;
		text-align: left;
	}
}

@mixin boxShadow {
	box-shadow: $speech-shadow;
}

.container {
	padding-top: 0 !important;
}

.headingText {
	color: theme.$white;
	margin-bottom: 48px;
	font-weight: $text-font-weight;
}

.anteaterContainerLeft,
.anteaterContainerRight {
	display: none;
	height: 187px;
	width: 136px;
	z-index: 4;
	@include bootstrap.media-breakpoint-up(md) {
		display: block;
		position: relative;
	}
}

.anteaterContainerLeft {
	@include bootstrap.media-breakpoint-up(md) {
		left: -32px;
		top: -32px;
	}
}

.anteaterContainerRight {
	@include bootstrap.media-breakpoint-up(md) {
		top: -64px;
		left: 48px;
		margin-left: auto;
	}
}

.anteaterImage {
	&:hover {
		transform: scale(1.05);
		animation: rotateAnimation 0.7s ease-in-out 1;
	}

	height: 187px;
	width: 136px;
	z-index: 5;
	transition: transform 0.5s ease-in-out;
}

@keyframes rotateAnimation {
	0%,
	100% {
		transform: scale(1.05) rotate(0deg);
	}
	33% {
		transform: scale(1.05) rotate(-7deg);
	}
	66% {
		transform: scale(1.05) rotate(7deg);
	}
}

.speechSectionLeft,
.speechSectionRight {
	margin-bottom: 20px;
	position: relative;
}

.speechSectionRight {
	@include bootstrap.media-breakpoint-up(md) {
		top: -230px;
	}
}

.speechBubbleOuterLeft,
.speechBubbleOuterRight {
	position: relative;
	background-color: theme.$white;
	border-radius: 18px;
	padding: 4px;
	@include boxShadow;

	@include bootstrap.media-breakpoint-up(md) {
		width: 65%;
	}
}

.speechBubbleOuterLeft {
	z-index: 2;
	@include bootstrap.media-breakpoint-up(md) {
		margin-left: 90px;
	}
}

.speechBubbleOuterRight {
	z-index: 1;
	@include bootstrap.media-breakpoint-up(md) {
		margin-left: auto;
		margin-right: 90px;
	}
}

.speechBubbleLeft {
	@include speechBubble(theme.$white, theme.$black);
}

.speechBubbleRight {
	@include speechBubble(theme.$light-green, theme.$black);
}

.applyButton {
	background-color: theme.$purple;
	color: theme.$white;
	border: 0px;
	padding: 4px 24px;
	font-weight: $text-font-weight;

	@include bootstrap.media-breakpoint-up(md) {
		padding: 4px 32px;
	}

	&::before {
		background-color: theme.$purple;
		color: theme.$white;
		padding: 10px;
	}
}
