.applyButton {
	display: inline-block;
	padding: 0.8rem 1.5rem;
	border-radius: 40px;
	background: rgba(42, 80, 75, 0.69);
	border: 1px solid rgba(42, 80, 75, 1);
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.3s ease;

	&:hover {
		background: rgba(42, 80, 75, 0.9);
		box-shadow:
			0 0 12px rgba(42, 80, 75, 0.7),
			0 0 24px rgba(42, 80, 75, 0.4);
		transform: scale(1.05);
	}
}
