@use "zothacks-theme" as theme;
@use "bootstrap-utils" as utils;

$mobile-item-padding-y: 1.6rem;
$mobile-item-padding-x: 2rem;

$item-padding-y: 2rem;
$item-padding-x: 3rem;

.container {
	position: relative;
	padding-top: 6rem;
	padding-bottom: 6rem;
	display: flex;
	justify-content: space-evenly;
	width: 100vw;
	background: linear-gradient(to bottom, #0d1321, #070a11);
	min-height: 100vh;
}

.left-anteater {
	display: none;
}

.right-anteater {
	display: none;
}

.accordion-border {
	margin-bottom: 12px;
}

.question-body {
	background-color: rgba(theme.$dark-green, 0.69);
	border: 5px solid theme.$dark-green;
	border-radius: 25px;
	color: white;
	padding: 0.5rem 1rem;
	transition: all 0.3s ease;
	font-size: 0.9rem;
	font-weight: 400;

	& > * > * {
		font-weight: 400;
		color: white;
		font-family: var(--next-font-reddit-mono), monospace;
		font-size: 0.9rem;
	}
}

.answer-body {
	background-color: #61876db0;
	border: 5px solid #2a504b;
	border-radius: 25px;
	color: #cacaca;
	margin-top: 15px;
	padding: 1.5rem 2rem;
	font-family: var(--next-font-reddit-mono), monospace;
	font-size: 0.9rem;
	font-weight: 400;

	* {
		margin: 0;
		font-weight: 200;
		color: #cacaca;
		letter-spacing: 0.03em;
		line-height: 2;
		font-family: var(--next-font-reddit-mono), monospace;
		font-size: 1rem;
	}
}

.header-section {
	padding: 0;
	margin-bottom: 4rem;
}

.faq-header {
	font-weight: 800;
	color: #cacaca;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	letter-spacing: 0.03em;
	font-family: var(--next-font-reddit-mono), monospace;
}

.faq-subtitle {
	color: #99b1cb;
	margin: 0;
	font-family: var(--next-font-reddit-mono), monospace;
	font-weight: 400;
	font-size: 1rem;
	align-self: center;
	width: 100%;
	text-align: center;
}

.light-blue-text {
	color: white;
}

.purple-text {
	color: white;
}

.accordion {
	--bs-accordion-body-padding-y: 0.5rem;
	--bs-accordion-body-padding-x: 1rem;

	--bs-accordion-btn-padding-y: 0.5rem;
	--bs-accordion-btn-padding-x: 1rem;

	--bs-accordion-btn-icon-width: 16px;
	--bs-accordion-btn-icon: url("~@/assets/icons/faq-arrow.svg");
	--bs-accordion-btn-active-icon: url("~@/assets/icons/faq-arrow.svg");
	--bs-accordion-bg: none;
	--bs-accordion-color: white;
	--bs-accordion-btn-color: white;
	--bs-accordion-btn-focus-box-shadow: none;

	.accordion-button {
		&:focus {
			box-shadow: none !important;
			border: none !important;
		}

		&:not(.collapsed) {
			&::after {
				transform: rotate(180deg);
			}
		}
	}
}

@include utils.media-breakpoint-up(sm) {
	.body {
		margin-left: 60px;
	}
}

@include utils.media-breakpoint-up(md) {
	.container {
		justify-content: center;
		align-items: flex-start;
		padding: 4rem 16rem;
	}

	.body {
		margin-left: 0;
		max-width: 500px;
		width: 100%;
	}

	.header-body {
		padding: $item-padding-y $item-padding-x;
		margin-bottom: 2rem;
	}

	.accordion {
		--bs-accordion-body-padding-y: 0.5rem;
		--bs-accordion-body-padding-x: 1rem;

		--bs-accordion-btn-padding-y: 0.5rem;
		--bs-accordion-btn-padding-x: 1rem;
	}

	.accordion-border {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1rem;
	}

	.left-anteater {
		display: none;
	}

	.right-anteater {
		display: none;
	}
}
