@use "zothacks-theme" as theme;

.container {
	background-color: #0f152b;
}

.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	padding: 160px 10px;
}

.formContainer > * {
	max-width: 1100px;
	z-index: 10;
}

.background {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 0;
}

.title {
	font-size: 2.5rem;
	text-align: center;
	color: theme.$off-white;
}
