.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: url("~@/assets/background/mountains-background.png");
    padding-top: 8rem;
  }
  
  .mascot {
    position: absolute;
    top: -23.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
  }
  
  .messageBox {
    position: relative;
    background: #0F152BB0;
    padding: 1.75rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
  
  .title {
    color: #CACACA;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
  
  .button {
    background-color: #2A504BB0;
    font-size: 1rem;
    padding: 0.625rem 1.875rem;
    border: 0.313rem solid #2A504B;
    border-radius: 1.25rem;
    color: #DDDDDD;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  