.description {
    text-align: center;
    font-size: 1em;
}

.header {
    font-size: 1.8em;
    margin-bottom: .5em;
}

.introBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
}

.intro {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 30vw;
}

@media (max-width: 1200px) {
    /* Large viewport */
    .description {
        text-align: center;
        font-size: 1em;
    }
    
    .header {
        font-size: 1.8em;
        margin-bottom: .5em;
    }
}

@media (max-width: 768px) {
    /* Tablet viewport */
    
}

@media (max-width: 480px) {
    /* Mobile viewport */
    
}