@use "bootstrap-utils" as bootstrap;

.description {
	text-align: center;
	font-size: 1rem;

	@include bootstrap.media-breakpoint-up(sm) {
		font-size: 1.5rem;
	}
}

.header {
	font-size: 1.25rem;

	@include bootstrap.media-breakpoint-up(sm) {
		font-size: 2rem;
	}
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 90vw;
	margin-top: 3vw;

	@media screen and (min-width: 400px) {
		margin-top: 12.5vw;
	}

	@include bootstrap.media-breakpoint-up(sm) {
		margin-top: 15vw;
	}

	@media screen and (min-width: 650px) {
		margin-top: 20vw;
	}

	@include bootstrap.media-breakpoint-up(md) {
		margin-top: 1vw;
	}

	@media screen and (min-width: 850px) {
		margin-top: 3vw;
	}

	@include bootstrap.media-breakpoint-up(lg) {
		max-width: 80vw;
		margin-top: 8vw;
	}

	@include bootstrap.media-breakpoint-up(xxl) {
		max-width: 75vw;
		margin-top: 15vw;
	}
}
