.container {
	background-image: url("~@/assets/background/mountains-background.png");
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.875rem;
}

.form {
	background: #0f152bcc;
	padding: 3.125rem;
	border-radius: 1.25rem;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
	color: #ffffff;
	margin: auto;
	font-size: 3rem;
}

.inputSection {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

.label {
	color: #ffffff;
	font-size: 1.5rem;
}

.input {
	color: #ffffff;
	padding: 0.625rem;
	height: 2.75rem;
	background-color: #ababab47;
	border: 0.063rem solid #99b1cb;
	border-radius: 0.625rem;
}

.subtitle {
	color: #99b1cb;
	font-size: 1rem;
}

.button {
	background-color: #2a504bb0;
	padding: 0.625rem 1.875rem;
	border: 0.313rem solid #2a504b;
	border-radius: 1.25rem;
	color: #dddddd;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
