@use "bootstrap-utils" as utils;
@use "zothacks-theme" as theme;

.nav {
	width: 100%;
	z-index: 101;
	background-color: rgba(20, 20, 20, 0.7);
	mix-blend-mode: hard-light;
	@include utils.media-breakpoint-up(lg) {
		backdrop-filter: none;
	}
	backdrop-filter: blur(7px);
	position: fixed;
	text-align: right;
	transition: background-color 0.2s ease;
}

.navbar {
	position: absolute;
	top: 0;
}

.logo {
	position: relative;
	width: 40px;
	height: 40px;
	align-items: left;
	text-align: left;
	top: 0;
}

.text {
	margin-left: 1vw;
	margin-right: 1vw;
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
	line-height: 7vh;

	@include utils.media-breakpoint-up(lg) {
		font-size: 1rem;
		margin-top: 0;
		transform: translateY(-4px);
	}

	&:hover {
		text-shadow: 0 0 5px white;
	}
}

.notActive {
	@extend .text;
	color: white;
}

.active {
	@extend .text;
	color: white;
	text-decoration: underline;
	text-underline-offset: 0.3rem;
	text-decoration-thickness: 0.14rem;
}

.bg-transparent {
	background-color: transparent;
}

.bg-scrolled {
	background-color: rgba(20, 20, 20, 0.7);
	mix-blend-mode: hard-light;
}
