@use "bootstrap-utils" as utils;
@use "zothacks-theme" as theme;

.nav {
	width: 100%;
	@include utils.media-breakpoint-up(sm) {
		position: fixed;
	}

	@media only screen and (max-width: 991.5px) {
		background-color: rgba(20, 20, 20, 0.7);
		position: fixed;
		text-align: right;
		backdrop-filter: blur(7px);
	}
	z-index: 101;
	background-color: transparent;
	position: relative;
	color: white;
}

.navbar {
	position: absolute;
	top: 0;
}

.logo {
	position: absolute;
	width: 4vw;
	height: 4vw;
	top: 1vh;

	@media only screen and (max-width: 991.5px) {
		position: relative;
		width: 50px;
		height: 50px;
		align-items: left;
		text-align: left;
		top: 0;
	}
}

.text {
	margin-left: 1vw;
	margin-right: 1vw;
	font-weight: 600;
	font-size: 1rem;
	text-decoration: none;
	@media only screen and (max-width: 991.5px) {
		margin-top: 2vw;
		margin-bottom: 2vw;
		font-size: 1.5rem;
	}
}

.notActive {
	@extend .text;
	color: white;
}

.active {
	@extend .text;
	color: white;
	text-decoration: underline;
	text-underline-offset: 0.3rem;
	text-decoration-thickness: 0.14rem;
}

@include utils.media-breakpoint-up(lg) {
	.logo {
		width: 50px;
		height: 50px;
	}
}
