@use "bootstrap-utils" as utils;
@use "zothacks-theme" as theme;

.nav {
	width: 100%;
	z-index: 101;

	@include utils.media-breakpoint-up(lg) {
		background-color: transparent;
		color: white;
		backdrop-filter: none;
	}

	background-color: rgba(0, 202, 233, 0.5);
	position: fixed;
	text-align: right;
	backdrop-filter: blur(7px);
}

.navbar {
	position: absolute;
	top: 0;
}

.logo {
	position: relative;
	width: 50px;
	height: 50px;
	align-items: left;
	text-align: left;
	top: 0;
}

.text {
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;

	@include utils.media-breakpoint-up(lg) {
		font-size: 1rem;
		margin-top: 0;
	}

	&:hover {
		text-shadow: -3px -3px 3px #363837;
	}
}

.notActive {
	@extend .text;
	color: white;
}

.active {
	@extend .text;
	color: white;
	text-decoration: underline;
	text-underline-offset: 0.3rem;
	text-decoration-thickness: 0.14rem;
}
