@use "zothacks-theme" as theme;

.text {
	font-size: 20px;
	text-decoration: none;
	font-family: var(--font-pixel);
	display: flex;
	align-items: center;
	gap: 3px;

	&:hover {
		text-shadow: 0 0 5px white;
	}
}

.icon {
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
}

.notActive {
	@extend .text;
	color: white;
}

.active {
	@extend .text;
	color: white;
	text-decoration: underline;
}
