@use "zothacks-theme" as theme;
@use "bootstrap-utils" as utils;

.not-found-page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	background: linear-gradient(to right, #03036D, #487DB5);
}

.main-window {
	margin-top: 16vh;
	text-align: center;
	line-height: 1.5;
	width: 40vw;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.6rem;
	gap: 1rem;
	font-family: var(--font-pixel)
}

.icon {
	width: 20%;
	max-width: 240px;
	height: auto;
}

.sub-heading {
	font-weight: 400;
}