@use "bootstrap-utils" as bootstrap;
@use "zothacks-theme" as theme;

.apply {
	width: 60vw;
	height: 100%;
	transition-duration: 200ms;

	@include bootstrap.media-breakpoint-up(sm) {
		width: 50vw;
	}

	@include bootstrap.media-breakpoint-up(md) {
		width: 40vw;
	}

	@include bootstrap.media-breakpoint-up(lg) {
		width: 35vw;
	}

	@include bootstrap.media-breakpoint-up(xl) {
		width: 30vw;
	}
}

.outline {
	stroke: white;
	transition: stroke 200ms ease-in-out;
}

svg:hover {
	.outline {
		stroke: grey;
	}

	.text {
		fill: grey;
	}
}

.text {
	fill: white;
	transition: fill 200ms ease;
}

.title {
	color: theme.$turquoise;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	margin-top: 0.25rem;

	@include bootstrap.media-breakpoint-up(md) {
		font-size: 2rem;
	}

	@include bootstrap.media-breakpoint-up(lg) {
		font-size: 2.5rem;
	}
}

.applyContainer {
	background: rgba(theme.$dark-blue, 0.75);
	border-radius: 50px;
	padding: 1rem 5rem;
	justify-self: center;
	justify-content: center;
	width: fit-content;
}

.applyContainer:hover {
	background: rgba(theme.$dark-blue, 0.9);
	cursor: pointer;
}

.applyLink {
	text-decoration: none;
}
