@use "bootstrap-utils" as bootstrap;

.apply {
	width: 60vw;
	height: 100%;
	transition-duration: 200ms;

	@include bootstrap.media-breakpoint-up(sm) {
		width: 50vw;
	}

	@include bootstrap.media-breakpoint-up(md) {
		width: 40vw;
	}

	@include bootstrap.media-breakpoint-up(lg) {
		width: 35vw;
	}

	@include bootstrap.media-breakpoint-up(xl) {
		width: 30vw;
	}
}

.outline {
	stroke: white;
	transition: stroke 200ms ease-in-out;
}

svg:hover {
	.outline {
		stroke: grey;
	}

	.text {
		fill: grey;
	}
}

.text {
	fill: white;
	transition: fill 200ms ease;
}
