.apply {
	width: 400px;
    transition-duration: 200ms;
}

.apply:hover {
	scale: 1.1;
}

.outline {
    stroke: white;
    transition: stroke 200ms ease-in-out;
}


svg:hover .outline {
    stroke: yellow;
}

.text {
    fill: white;
    transition: fill 200ms ease;
}


svg:hover .text {
    fill: yellow;
}


@media (max-width: 1200px) {
    .apply {
        width: 350px; /* Large viewport */
    }
}

@media (max-width: 768px) {
    .apply {
        width: 300px; /* Tablet viewport */
    }
}

@media (max-width: 480px) {
    .apply {
        width: 200px; /* Mobile viewport */
    }
}