@use "bootstrap-utils" as bootstrap;

.character {
	position: absolute;
	visibility: hidden;
	right: 18vw;
	top: 15.5vw;
	transform: translateY(-70%);
	width: 80px;
	max-width: 7vw;

	@include bootstrap.media-breakpoint-up(md) {
		visibility: visible;
	}
}

.characterFoam {
	position: absolute;
	visibility: hidden;
	right: 18vw;
	top: 16.4vw;
	transform: translateY(-50%);
	width: 80px;
	max-width: 7vw;

	@include bootstrap.media-breakpoint-up(md) {
		visibility: visible;
	}
}

.characterShadow {
	position: absolute;
	visibility: hidden;
	right: 18vw;
	top: 16.5vw;
	transform: translateY(-20%);
	width: 80px;
	max-width: 7vw;

	@include bootstrap.media-breakpoint-up(md) {
		visibility: visible;
	}
}

.mainCharacter {
	position: absolute;
	width: 300px;
	visibility: hidden;
	left: 10vw;
	top: 32vw;
	transform: translate(-50%, -50%);
	max-width: 18vw;

	@include bootstrap.media-breakpoint-up(md) {
		visibility: visible;
	}
}

.beachBall {
	position: absolute;
	width: 300px;
	visibility: hidden;
	right: 2vw;
	top: 22vw;
	transform: translate(calc(50% - 10vw), calc(-50% + 5vw));
	max-width: 14vw;

	@include bootstrap.media-breakpoint-up(md) {
		visibility: visible;
	}
}
