@use "zothacks-theme" as theme;
@use "bootstrap-utils" as bootstrap;

.backgroundWrapper {
	background:
		url("~@/assets/background/landing/Stars.png") repeat center center,
		url("~@/assets/background/landing/northern-lights.png") no-repeat top center,
		radial-gradient(105.24% 56.33% at 50% 50%, #233e7d 0%, #101a30 100%);

	background-size: cover, cover, cover;
	background-attachment: fixed, scroll, scroll, scroll;
}

.landing {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
}
.title {
	font-size: 120px;
	font-weight: 700;
	color: theme.$white;
	line-height: 1;
	letter-spacing: 0;
	text-align: center;
	margin: 0 auto;
	max-width: 90%;
	z-index: 2;

	@include bootstrap.media-breakpoint-down(lg) {
		width: auto;
		font-size: 80px;
		top: 25vh;
	}

	@include bootstrap.media-breakpoint-down(md) {
		font-size: 70px;
		top: 25vh;
		width: 80%;
		line-height: 1.1;
	}

	@include bootstrap.media-breakpoint-down(sm) {
		font-size: 60px;
		top: 15vh;
		width: 90%;
		line-height: 1.1;
	}
}

.subtitle {
	font-size: 48px;
	font-weight: 700;
	color: theme.$white;
	line-height: 1;
	text-align: center;
	letter-spacing: 0;
	margin: 0 auto;
	z-index: 2;

	@include bootstrap.media-breakpoint-down(lg) {
		width: auto;
		font-size: 36px;
		top: 40vh;
	}

	@include bootstrap.media-breakpoint-down(md) {
		font-size: 32px;
		top: 42vh;
		width: 75%;
		max-width: 500px;
		line-height: 1.2;
	}

	@include bootstrap.media-breakpoint-down(sm) {
		font-size: 24px;
		top: 35vh;
		width: 90%;
		height: auto;
		line-height: 1.2;
	}
}

.applyButton {
	z-index: 10;
}

.moon {
	position: absolute;
	right: 4vw;
	width: 100px;

	@include bootstrap.media-breakpoint-up(lg) {
		width: 300px;
	}

	@include bootstrap.media-breakpoint-up(md) {
		width: 150px;
	}
}

.trees {
	position: absolute;
	width: 100vw;
	height: auto;
	bottom: -15px;

	@include bootstrap.media-breakpoint-up(sm) {
		bottom: -50px;
	}

	@include bootstrap.media-breakpoint-up(md) {
		bottom: -100px;
	}

	@include bootstrap.media-breakpoint-up(lg) {
		bottom: -150px;
	}
}
