@use "bootstrap-utils" as bootstrap;
@use "zothacks-theme" as theme;

.title {
	width: 70vw;
	height: 25.42vw;

	@include bootstrap.media-breakpoint-up(md) {
		width: 40vw;
		height: 14.53vw;
	}
}

.date {
	color: theme.$white;
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 8px;
	margin-bottom: 10px;

	@include bootstrap.media-breakpoint-up(md) {
		font-size: 2rem;
		margin-bottom: 30px;
	}

	@include bootstrap.media-breakpoint-up(lg) {
		font-size: 2.5rem;
	}
}
