@use "bootstrap-utils" as bootstrap;
@use "zothacks-theme" as theme;

.logo {
	width: 100%;
	max-width: 12.5rem;
	height: auto;
}

.title {
	width: 100%;
	max-width: 29rem;
	height: auto;
}

.titleWrapper {
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
