@use "bootstrap-utils" as bootstrap;
@use "zothacks-theme" as theme;

.title {
	color: theme.$white;
	width: 70rem;
	height: 5rem;
	font-size: 4rem;

	@include bootstrap.media-breakpoint-up(md) {
		width: 27rem;
		height: 24rem;
		font-size: 6rem;
	}
}

.date {
	color: theme.$white;
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-family: var(--next-font-reddit-mono), monospace;

	@include bootstrap.media-breakpoint-up(md) {
		font-size: 2rem;
		margin-bottom: 3rem;
	}

	@include bootstrap.media-breakpoint-up(lg) {
		font-size: 2.5rem;
	}
}
