@use "bootstrap-utils" as utils;

.bottom-spacer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	gap: 2rem;
	margin: 0 auto 3rem;
	width: 100%;
	max-width: 1300px;
	padding-left: 2rem;
}

.column {
	flex: 1 1 360px;
	display: flex;
	justify-content: center;
	align-items: stretch;
	max-width: 400px;
}

.text {
	font-size: 24px;
	height: 60%;
	width: 80%;
	margin: auto;
	position: relative;
	top: 10%;
}

.title {
	top: 8%;
	position: absolute;
}

@include utils.media-breakpoint-down(xl) {
	.text {
		font-size: 22px;
	}
}

@include utils.media-breakpoint-down(lg) {
	.text {
		font-size: 18px;
	}
}

@include utils.media-breakpoint-down(md) {
	.text {
		font-size: 15px;
	}
}

@include utils.media-breakpoint-down(sm) {
	.text {
		font-size: 13px;
	}
}

@include utils.media-breakpoint-down(md) {
	.bottom-spacer {
		flex-direction: column;
		align-items: center;
	}

	.column {
		max-width: 90%;
	}
}

@include utils.media-breakpoint-down(sm) {
	.text {
		font-size: 13px;
	}
}

.apiResources {
	padding-top: 20vh;
}
