@use "zothacks-theme" as theme;
@use "bootstrap-utils" as utils;

$mobile-item-padding-y: 1.6rem;
$mobile-item-padding-x: 2rem;

$item-padding-y: 2rem;
$item-padding-x: 3rem;

$heading-font-size: 1.75rem;

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	height: auto;
	gap: 10px;
	padding: 20px;
}

.title {
	font-family: "Reddit Mono", monospace;
	font-weight: 800;
	font-style: normal;
	font-size: 25px;
	line-height: 180%;
	letter-spacing: 2%;
	text-align: center;
	color: rgba(202, 202, 202, 1);
}

.description {
	font-family: "Reddit Mono", monospace;
	font-weight: 400;
	font-size: 16px;
	line-height: 180%;
	letter-spacing: 0.02em;
	text-align: center;
	color: rgba(153, 177, 203, 1);
}

@include utils.media-breakpoint-up(md) {
	.card {
		padding: $item-padding-y $item-padding-x;
	}
}
