@use "zothacks-theme" as theme;
@use "bootstrap-utils" as utils;

$mobile-item-padding-y: 26px;
$mobile-item-padding-x: 32px;

$item-padding-y: 32px;
$item-padding-x: 48px;

$heading-font-size: 28px;

.card {
	background-color: theme.$white;
	border: 6px solid theme.$white;
	box-shadow: inset 0 0 0 6px theme.$black;
	border-radius: 16px;

	padding: $mobile-item-padding-y $mobile-item-padding-x;

	display: flex;
	align-items: center;
}

.bang {
	margin-right: $item-padding-x - 7;
}

.title {
	font-size: $heading-font-size;
	font-weight: 600;
	color: theme.$light-blue;
}

.description {
	margin: 0;
	font-weight: 500;
}

@include utils.media-breakpoint-up(md) {
	.card {
		padding: $item-padding-y $item-padding-x;
	}
}
