@use "bootstrap-utils" as utils;

.bottom-spacer {
	justify-content: center;
	align-items: stretch;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.column {
  flex: 1 1 320px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 420px;
}



.title {
	position: absolute;
	top: 10%;
}

.text {
	position: absolute;
	bottom: 10%;
	width: 90%;
	height: 40%;
	font-size: 24px;
}

@include utils.media-breakpoint-down(lg) {
	.title {
		font-size: 28px;
		top: 20%;
	}

	.text {
		font-size: 20px;
	}
}

@include utils.media-breakpoint-down(sm) {
	.title {
		font-size: 18px;
		top: 20%;
	}

	.text {
		font-size: 14px;
	}
}
